:root {
  --red: #c0392b;
  --gray: #616161;
  --link: #fff;
  --black: #000;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Layout ---------------------------------------------------------------------- */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  align-items: flex-start;
}

figure {
  margin: 0 0 20px 0;
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* Typography ------------------------------------------------------------------ */

h1 {
  margin-top: 0;
}

a {
  color: var(--link);
  text-decoration: none;
}

.link {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  border-bottom: 2px solid white;
  padding: 5px;
  margin-bottom: 30px;
}

.link:hover {
  background-color: var(--link);
  color: var(--red);
  transition: all ease-in-out .3s;
}

.link-red {
  color: var(--red);
  border-color: var(--red);
  font-size: 1rem;
  text-transform: uppercase;
}

.link-red:hover {
  background-color: var(--red);
  color: var(--link);
  transition: all ease-in-out .3s;
}

p {
  line-height: 1.6;
  font-weight: 300;
  margin-top: 0;
}

.lead {
  color: var(--black);
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

figcaption {
  color: var(--black);
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

label {
  line-height: 1.6;
  font-family: 'Open Sans';
  font-weight: 300;
  text-transform: uppercase;
}

strong {
  font-weight: 700;
}

/* Align images ---------------------------------------------------------------- */

.align-left {
  float:left;
  margin-right:20px;
}

.align-right {
  float:right;
  margin-left:20px;
}

.slide-in {
  opacity:0;
  transition:all .5s;
}

.align-left.slide-in {
  transform:translateX(-30%) scale(0.95);
}
.align-right.slide-in {
  transform:translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity:1;
  transform:translateX(0%) scale(1);
}

/* Country content ------------------------------------------------------------- */

.content {
  padding: 30px;
  max-width: 960px;
  margin: auto;
  color: var(--gray);
  text-align: justify;
}

.content img {
  width: 50%;
}

.grid img {
  width: 100%;
}

.content h1 {
  color: black;
  display: inline-block;
  border-bottom: 5px solid var(--red);
  padding-bottom: 10px;
}

/* Intro ----------------------------------------------------------------------- */

.intro h1 {
  color: var(--black);
  border-bottom: 5px solid var(--red);
}

.intro p {
  color: var(--gray);
}

.intro .lead {
  color: var(--black);
}

/* Country --------------------------------------------------------------------- */

.country {
  background-color: white;
}

/* Cover ----------------------------------------------------------------------- */

.cover {
  background-attachment: fixed;
  background-image: url('images/SSD.JPG');
  background-size: cover;
  align-items: flex-end;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
}

.cover h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  border-bottom: 5px solid white;
  padding: 20px 0;
}

@media screen and (max-width: 600px) {
  .cover h1  {
    padding: 10px 20px;
    font-size: 2rem;
  }
}

/* Map ------------------------------------------------------------------------- */

.map {
    /* background-attachment: fixed; */
    background-color: var(--gray);
    background-image: url('images/WorldConOps@2x.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.legend {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.map h1 {
  color: white;
  font-size: 2rem;
  margin: 30px 50px;
}

/* Map highlighted ------------------------------------------------------------- */

.map-highlighted {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.map-highlighted {
  background-color: var(--red);
  min-height: 0;
  padding: 50px 0;
}

.map-highlighted .grid {
  text-align: center;
  width: 960px;
  margin: auto;
}

.map-highlighted h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: white;
}

@media screen and (max-width: 600px) {
  .map-highlighted h1  {
    margin-bottom: 0;
  }
}

.map-highlighted label {
  color: white;
}

.bangladesh {
  background-image: url('images/bangladesh.svg');
}

.car {
  background-image: url('images/car.svg');
}

.drc {
  background-image: url('images/drc.svg');
}

.iraq {
  background-image: url('images/iraq.svg');
}

.indonesia {
  background-image: url('images/indonesia.svg');
}

.libya {
  background-image: url('images/libya.svg');
}

.nigeria {
  background-image: url('images/nigeria.svg');
}

.syria {
  background-image: url('images/syria.svg');
}

.ssd {
  background-image: url('images/ssd.svg');
}

.yemen {
  background-image: url('images/yemen.svg');
}

/* Back cover ------------------------------------------------------------------ */

.back {
  background-color: var(--red);
  flex-flow: column;
}

.back h1 {
  text-transform: uppercase;
  color: white;
}

.back .social-link {
  margin: 10px;
  border-radius: 1000px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
